#ant specific
/dist/
/build/

#netbeans specific
core
/nbproject/
/lib/*.properties
/lib/CopyLibs/
manifest.mf
build.xml


#java specific
*.class

#Package files
.jar
.war
.ear

.exe
*.bin

#general swap/backup files
*.so
*.log
*.log.*
*.lck
*.out
*~
*.swp
*.DS_Store
*.lock

/transducers/
/plugins/
/KranionGroovyConsolePlugin/nbproject/private/
/KranionGroovyConsolePlugin/build/
/KranionGroovyConsolePlugin/dist/
/KranionGroovyConsolePlugin/lib/
/KranionGroovyConsolePlugin/gradle/
/KranionGroovyConsolePlugin/.gradle/
/ACPCPlanPlugin/nbproject/
/ACPCPlanPlugin/build/
/ACPCPlanPlugin/dist/
/ACPCPlanPlugin/lib/
/ACPCPlanPlugin/gradle/
/ACPCPlanPlugin/.gradle/
/TractographyPlugin/nbproject/
/TractographyPlugin/build/
/TractographyPlugin/dist/
/.gradle/
/.settings/
